<!DOCTYPE html>
<html lang="en"
          class="light-style layout-menu-fixed"
          dir="ltr"
          data-theme="theme-default"
          data-assets-path="../assets/"
          data-template="vertical-menu-template-free">
<head>
    @*<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>*@
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <title>Dashboard - Analytics | Sneat - Bootstrap 5 HTML Admin Template - Pro</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="../assets/img/favicon/favicon.ico" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
          rel="stylesheet" />

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="~/Content/css/boxicons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="~/Content/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="~/Content/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="~/Content/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="~/Content/css/perfect-scrollbar.css" />

    <link rel="stylesheet" href="~/Content/css/apex-charts.css" />

    <!-- Page CSS -->
    <!-- Helpers -->
    <script src="~/Scripts/js/helpers.js"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="~/Scripts/js/config.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">
            @*<div class="container body-content">*@
            @Html.Partial("_AsidePartial")
            <div class="layout-page">
                @Html.Partial("_NavBarPartial")
              

                @RenderBody()

               @* @Html.Partial("_FooterPartial")*@
                </div>
            </div>
        </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="~/Scripts/jquery/jquery.js"></script>
    <script src="~/Scripts/js/popper.js"></script>
    <script src="~/Scripts/js/bootstrap.js"></script>
    <script src="~/Scripts/js/perfect-scrollbar.js"></script>

    <script src="~/Scripts/js/menu.js"></script>
    <!-- endbuild -->
    <!-- Vendors JS -->
    <script src="~/Scripts/js/apexcharts.js"></script>

    <!-- Main JS -->
    <script src="~/Scripts/js/main.js"></script>

    <!-- Page JS -->
    <script src="~/Scripts/js/dashboards-analytics.js"></script>

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    </body>
</html>
